.wrapper {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    align-items: center;

    color: #fff;
    background-color: var(--clr-primary-500);
    opacity: 0.8;
    padding: 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: bottom 0.4s;

    &.visible {
        bottom: 5rem;
    }

    &:hover,
    &:focus {
        background-color: var(--clr-primary-600);
    }

    svg {
        height: 1.5rem;
    }
}
