.wrapper {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--clr-primary-500);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;

    &.visible {
        bottom: 5rem;
    }

    &:hover {
        background-color: var(--clr-primary-600);
    }

    i {
        font-size: 1.5rem;
        color: #fff;
    }
}
