.wrapper {
    flex: 1;

    padding-bottom: 2rem;

    .title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .subtitle {
        display: inline-flex;
        font-size: var(--small-font-size);
        margin-bottom: var(--space-1);
    }

    .calendar {
        font-size: var(--smaller-font-size);
        color: var(--clr-text-400);

        i {
            margin-right: 0.5rem;
        }
    }
}
