@use "sass:map";

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@function bp($size) {
    @if not(map.has-key($breakpoints, $size)) {
        @error "#{size} is not a valid breakpoint";
    }
    @return map.get($breakpoints, $size);
}
