.wrapper {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--title-color);
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);

        &:hover,
        &:focus,
        &.active {
            color: var(--first-color);
        }

        i {
            font-size: 1.2rem;
        }
    }
}
