@use "abstracts/breakpoints" as *;

@mixin mq($size, $mode: min) {
    @if ($mode != min and $mode != max) {
        @error "Parameter 'mode' must be either 'min' or 'max'!";
    }

    @media only screen and (#{$mode}-width: bp($size)) {
        @content;
    }
}

@mixin grid {
    display: grid;
    gap: 1.5rem;
}

@mixin container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);

    @include mq(sm) {
        max-width: 768px;
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    @include mq(md) {
        margin-left: auto;
        margin-right: auto;
    }
}
