@use "utils" as *;

.wrapper {
    .container {
        @include container;
        @include grid;

        @include mq(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq(md) {
            column-gap: 5rem;
        }

        .image {
            object-fit: cover;
            width: 200px;
            aspect-ratio: 4 / 3;
            border-radius: 0.5rem;
            justify-self: center;
            align-self: center;

            @include mq(md) {
                width: 350px;
            }
        }

        .data {
            .description {
                text-align: center;
                margin-bottom: var(--space-2-5);

                @include mq(md) {
                    text-align: initial;
                }
            }

            .info {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: var(--space-2-5);

                @include mq(md) {
                    justify-content: space-between;
                }

                .title {
                    font-size: var(--h2-font-size);
                    font-weight: var(--font-semi-bold);
                    color: var(--clr-title);
                }

                .name {
                    font-size: var(--smaller-font-size);
                }

                .name,
                .title {
                    display: block;
                    text-align: center;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;

                @include mq(md) {
                    justify-content: initial;
                }
            }
        }
    }
}
