@use "utils" as *;

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--clr-body);
    transition: all 0.3s;

    @include mq(md) {
        top: 0;
        bottom: initial;
        padding: 0 1rem;

        @media screen and (max-height: bp(sm)) {
            &.hidden {
                transform: translateY(-100%);
            }
        }
    }

    @include mq(lg) {
        padding: 0;
    }

    &.elevated {
        box-shadow: var(--header-shadow);
    }

    nav {
        @include container;
        max-width: 968px;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq(md) {
            height: calc(var(--header-height) + 1.5rem);
            column-gap: 1rem;

            .toggle,
            .close {
                display: none;
            }
        }

        .logo,
        .toggle,
        .themeToggle {
            color: var(--clr-title);
            font-weight: var(--font-medium);

            &:hover {
                color: var(--clr-primary-500);
                cursor: pointer;
            }
        }

        .btns {
            display: flex;
            align-items: center;
            gap: var(--space-1);

            svg {
                height: 1.1rem;
                margin-top: 0.5rem;
            }
        }

        .menu {
            z-index: var(--z-nav-menu);

            @include mq(md, max) {
                position: fixed;
                bottom: -100%;
                left: 0;
                width: 100%;
                background-color: var(--clr-body);
                padding: 1.5rem 1.5rem 3rem;
                box-shadow: var(--header-shadow);
                border-radius: 8px 8px 0 0;
                transition: all 0.3s;
            }

            @include mq(xs, max) {
                padding: 2rem 0.25rem 4rem;
            }

            @include mq(md) {
                margin-left: auto;
            }

            &.open {
                bottom: 0;
            }

            ul {
                @include grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;

                @include mq(xs, max) {
                    column-gap: 0;
                }

                @include mq(md) {
                    display: flex;
                    column-gap: 2rem;
                }
            }

            .close {
                position: absolute;
                right: var(--space-1);
                bottom: 0.5rem;
                height: 1.5rem;
                cursor: pointer;
                color: var(--clr-primary-500);

                &:hover {
                    color: var(--clr-primary-600);
                }
            }
        }
    }
}
