@use "utils" as *;

.wrapper {
    .container {
        @include container;

        @include mq(sm) {
            max-width: min(bp(md), 60%);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
