@use "utils" as *;

.wrapper {
    background-color: var(--clr-footer-bg);
    padding: 2rem 0 70px;

    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        @include container;
        @include grid;

        row-gap: 3.5rem;

        @include mq(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq(md) {
            padding: 0 1rem;
            grid-template-columns: repeat(3, 1fr);
        }

        @include mq(lg) {
            padding: 0;
        }

        .title,
        .subtitle,
        .links a,
        .socials a {
            color: #fff;
        }

        .title {
            font-size: var(--h1-font-size);
            margin-bottom: var(--space-0-25);
        }

        .subtitle {
            font-size: var(--small-font-size);
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include mq(md) {
                flex-direction: row;
                gap: 2rem;
            }

            a:hover {
                color: var(--clr-primary-200);
            }
        }

        .socials {
            @include mq(md) {
                justify-self: flex-end;
            }

            a {
                &:hover,
                &:focus {
                    color: var(--clr-primary-200);
                }
                &:last-child {
                    margin-left: var(--space-1-5);
                }

                .icon {
                    height: 1.25rem;
                }
            }
        }
    }

    .copyright {
        font-size: var(--smaller-font-size);
        text-align: center;
        color: var(--clr-text-400);
        margin-top: 3rem;

        @include mq(md) {
            margin-top: 4.5rem;
        }
    }
}
