@use "utils" as *;

:root {
    --body-font: "Poppins", sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    @include mq(lg) {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }

    --font-medium: 500;
    --font-semi-bold: 600;
}

h1,
h2,
h3,
h4 {
    color: var(--clr-title);
    font-weight: var(--font-semi-bold);
}
